b{
    color: rgb(197, 80, 13);
    font-style: oblique;
    font-weight: bold;
    font-size: 0.75cm;
 }
 main{
     text-align: center;
 }
 h1{
     font-size: 2cm;
     font-weight: bold;
     color: rgb(218, 140, 40);
     border: goldenrod;
     border-width: 5px;
     margin: 1cm;
     
 }
 p{
    font-size: 0.75cm;
 }
 .ul{
     font-size: 0.5cm;
      
     list-style-type: square;
 }
 li{
     list-style: square;
 }
 footer{
     text-align: center;
     
 }
body{
    background-color: thistle;
}
.ol {
   
    list-style-type: none;
    counter-reset: lis calc(var(--s) - 1) ;
  

}
li {
    counter-increment: lis
}
li:before {
    content: counter(lis)"- ";
    color: rgb(28, 75, 9);
}
